<div class="term">
  <div class="container pt-5">
    <%= image_tag 'alimente-logo@2x.png' %>
    <h2 class="mt-5">Termo de imagem</h2>

    <p class="pt-4 pb-4 content">
      Eu concordo, com os determinados fins, que todo o material fornecido pela plataforma Basis Plena não poderá ser regravado, compartilhado, copiado ou repassado a pessoas que não participaram do Evento Alimente. O material aqui disponível deve ser de uso exclusivo  dos participantes do Evento Alimente e sua propagação sem consentimento poderá acarretar em ações judiciais conforme as leis de proteção ao produtor.
    </p>

    <%= form_for @user, method: :patch do |f| %>
      <%= f.hidden_field :term, value: true %>

      <%= f.submit 'CONCORDO', class: 'btn btn-warning' %>
      &nbsp;
      <%= link_to 'DISCORDO', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>