<section class="about">
  <h3 class="title text-center">
    Um evento pioneiro no país abordando<br><strong>Inovação, Ciência, Nutrição</strong> e <strong>Qualidade de Vida</strong>
  </h3>

  <div class="container content d-flex">
    <%= image_tag 'about-1@2x.png', class: 'align-self-start' %>

    <div class="text">
      O 1º Congresso Internacional Low Carb vai ficar eternizado na memória! Será uma experiência incrível para quem comparecer ao evento e também para antigas e futuras gerações que continuam na busca de um modo de vida cada vez mais consciente. 
      <br><br>
      Serão dois dias de palestras, painéis e muito networking que reunirão um timaço de profissionais nacionais e que fazem a diferença na área da saúde brasileira. Para completar a equipe, três nomes de referência no cenário internacional quando o assunto é qualidade de vida: GARY TAUBES: mestre em jornalismo, jornalista investigativo e autor de 'Por que engordamos: e o que fazer para evitar'; NINA TEICHOLZ: mestre em jornalismo e jornalista best seller pelo 'Gordura sem Medo'; DR. ASEEM MALHOTRA: cardiologista premiado e autor do livro 'Detox 21 Dias'.
    </div>
  </div>

  <h3 class="title text-center">
    Desenhado para proporcionar<br>a você <strong>uma experiência única</strong>!
  </h3>

  <div class="container content-list">
    <div class="row">
      <div class="col-md-3 content-item">
        <div class="image">
          <%= image_tag 'about-list-1@2x.png' %>

          <div class="d-flex justify-content-center">
            <div class="title">TRADUÇÃO SIMULTÂNEA</div>
          </div>
        </div>

        <div class="description text-center">
          Tradução simultânea para melhor acompanhamento das apresentações.
        </div>
      </div>

      <div class="col-md-3 content-item">
        <div class="image">
          <%= image_tag 'about-list-2@2x.png' %>

          <div class="d-flex justify-content-center">
            <div class="title">QUEBRA DE MITOS</div>
          </div>
        </div>

        <div class="description text-center">
          Quebra de mitos sobre alimentos vilanizados e o consumo desvairado de produtos industrializados e processados.
        </div>
      </div>

      <div class="col-md-3 content-item">
        <div class="image">
          <%= image_tag 'about-list-3@2x.png' %>

          <div class="d-flex justify-content-center">
            <div class="title">ALIMENTAÇÃO E DOENÇAS</div>
          </div>
        </div>

        <div class="description text-center">
          A relação entre a alimentação e os elevados índices de obesidade, diabetes, doenças cardíacas, câncer, processos que desencadeiam a síndrome metabólica e resistência à insulina.
        </div>
      </div>

      <div class="col-md-3 content-item">
        <div class="image">
          <%= image_tag 'about-list-4@2x.png' %>

          <div class="d-flex justify-content-center">
            <div class="title">CETOGÊNICA</div>
          </div>
        </div>

        <div class="description text-center">
          Alimentação Cetogênica com escopo terapêutico em prol da saúde.
        </div>
      </div>
    </div>
  </div>
</section>