<section class="partners">
  <div class="d-flex justify-content-center">
    <h1 class="title">PARCEIROS</h1>
  </div>

  <div class="container partners-list d-flex justify-content-center align-items-center flex-wrap">
    <%= image_tag 'parceiros/baranaue@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/astress@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/celia@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/urban-remedy@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/pacco@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/o-fue@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/a-tal-da-castanha@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/dermofit@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/cozinha-do-bem@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/terra-madre@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/bon@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/martins-fontes-paulista@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/ingredientes-online@2x.png', class: 'partner' %>
  </div>
</section>