<section class="partners">
  <div class="d-flex justify-content-center">
    <h1 class="title">PARCEIROS</h1>
  </div>

  <div class="container partners-list d-flex justify-content-center align-items-center flex-wrap">
    <%= image_tag 'parceiros/baranaue@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/astress@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/celia@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/urban-remedy@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/pacco@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/o-fue@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/a-tal-da-castanha@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/dermofit@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/cozinha-do-bem@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/terra-madre@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/bon@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/martins-fontes-paulista@2x.png', class: 'partner' %>
    <%= image_tag 'parceiros/ingredientes-online@2x.png', class: 'partner' %>
  </div>
</section>

<section class="become-a-partner d-none">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-become-a-partner-bottom@2x.png', class: 'bg-bottom' %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="#">
          <div class="exhibitor d-flex align-items-center justify-content-center flex-column">
            <div class="first-word">
              SEJA UM
            </div>

            <div class="second-word">
              EXPOSITOR
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="#">
          <div class="sponsor d-flex align-items-center justify-content-center flex-column">
            <div class="first-word">
              SEJA UM
            </div>

            <div class="second-word">
              PATROCINADOR
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>