<div class="parallax">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-parallax@2x.png', class: 'parallax-image' %>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'bg-parallax-mobile@2x.png', class: 'parallax-image' %>
  </div>

  <h1 class="title">PALESTRANTES</h1>
</div>

<section class="speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'erik-neves@2x.png' %>
          <div class="name">DR. ERIK NEVES</div>
        </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'jose-souto@2x.png' %>
          <div class="name">JOSÉ SOUTO</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'jose-neto@2x.png' %>
          <div class="name">JOSÉ NETO</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'rafael-lund@2x.png' %>
          <div class="name">RAFAEL LUND</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'leticia-vasconcelos@2x.png' %>

          <div class="name -adjust-mobile">LETÍCIA VASCONCELOS</div>
        </div>
      </div>
    </div>
  </div>
</section>