<div id="palestrantes"></div>

<!--div class="parallax">
  <div class="d-none d-md-block">
    <%= image_tag 'palco@2x.png', class: 'parallax-image' %>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'palco-mobile@2x.png', class: 'parallax-image' %>
  </div>
</div>-->

<section class="speakers">
  <div class="international">
    <div class="d-flex justify-content-center">
      <div class="title">
        PALESTRANTES INTERNACIONAIS
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% @international_speakers.each do |speaker| %>
          <div class="col-md-6 d-flex justify-content-center flex-column">
            <a href="/palestrantes/<%= speaker.slug %>" class="align-self-center">
              <div class="speaker -international">
                <%= image_tag speaker.image, class: 'image-responsive' %>
                <div class="name"><%= speaker.name %></div>
              </div>
            </a>

            <div class="short-function -white">
              <%= speaker.short_function %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="national">
    <div class="d-flex justify-content-center">
      <div class="title">
        PALESTRANTES NACIONAIS
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row national-speakers">
      <% @speakers.each do |speaker| %>
        <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
          <a href="/palestrantes/<%= speaker.slug %>">
            <div class="speaker">
              <%= image_tag speaker.image, class: 'image-responsive' %>
              <div class="name <%= '-adjust-mobile' if speaker.name.size > 13 %>"><%= speaker.name %></div>
            </div>

            <div class="short-function"><%= speaker.short_function %></div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>