<div class="parallax">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-parallax-speakers@2x.png', class: 'parallax-image' %>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'bg-parallax-speakers-mobile@2x.png', class: 'parallax-image' %>
  </div>

  <h1 class="title">PALESTRANTES</h1>
</div>

<section class="speakers">
  <div class="international">
    <div class="d-flex justify-content-center">
      <div class="title">
        PALESTRANTES INTERNACIONAIS
      </div>
    </div>

    <div class="container international-speaker d-flex">
      <%= image_tag 'luis-villasenor@2x.png', class: 'photo' %>

      <div class="info">
        <div class="name">LUÍS VILLASEÑOR</div>

        <div class="about">
          Há 5 anos tratando pacientes com dieta low carb, que acredita firmemente ser a mais confiável diretriz para longevidade, bem-estar e um melhor estilo de vida, além do profundo comprometimento com a medicina, nutre verdadeira paixão por correr descalço, já tendo participado de dois Ironman e uma ultramaratona. Médico da equipe brasileira de tênis de mesa durante a preparação para os Jogos Paralímpicos de 2016, foi convidado para coordenar um futuro curso on-line, em parceria com a Fundação Noakes, destinado a médicos e nutricionistas brasileiros. 
        </div>

        <div class="social pt-3">
          <div class="media d-flex align-items-center">
            <%= image_tag 'instagram-international@2x.png' %>
            <strong><%= link_to '@darthluiggi', 'instagram.com/darthluiggi', target: '_blank', class: 'link' %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="national">
    <div class="d-flex justify-content-center">
      <div class="title">
        PALESTRANTES NACIONAIS
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row national-speakers">
      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'erik-neves@2x.png' %>
          <div class="name">DR. ERIK NEVES</div>
        </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'jose-souto@2x.png' %>
          <div class="name">JOSÉ SOUTO</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'jose-neto@2x.png' %>
          <div class="name">JOSÉ NETO</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'rafael-lund@2x.png' %>
          <div class="name">RAFAEL LUND</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'leticia-vasconcelos@2x.png' %>

          <div class="name -adjust-mobile">LETÍCIA VASCONCELOS</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'renata-calixto@2x.png' %>

          <div class="name -adjust-mobile">RENATA CALIXTO</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'ana-moreira@2x.png' %>

          <div class="name">ANA MARTHA</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'patricia@2x.png' %>

          <div class="name -adjust-mobile">PATRICIA TASSINARI</div>
        </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 d-flex justify-content-center">
        <div class="speaker">
          <%= image_tag 'janaina@2x.png' %>

          <div class="name -adjust-mobile">JANAINA KOENEN</div>
        </div>
      </div>
    </div>
  </div>
</section>