<section class="tickets">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-ticket-top@2x.png', class: 'bg-ticket-top' %>
    <%= image_tag 'bg-ticket-bottom@2x.png', class: 'bg-ticket-bottom' %>
  </div>

  <div class="d-flex justify-content-center">
    <div class="title-wrapper d-flex flex-column">
      <h1 class="title mr-auto">INGRESSOS</h1>
      <div class="lot ml-auto">PRÉ-VENDA EM BREVE</div>
      <div class="lot ml-auto d-none">PRÉ-VENDA DISPONÍVEL</div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="pre-venda">
          <div class="d-flex flex-wrap">
            <div class="category d-flex justify-content-center align-items-center">
              PRÉ-VENDA
            </div>

            <div class="timer-wrapper">
              <div class="title pb-2">TERMINA EM</div>
              <div class="timer">
                <div class="hours d-inline">23</div>:<div class="minutes d-inline">49</div>:<div class="seconds d-inline">12</div>
              </div>
            </div>
          </div>

          <div class="tickets">
            <div class="ticket">
              <div class="price">R$ 510,00</div>
              <div class="ticket-category">GOLD 1</div>
            </div>

            <div class="ticket">
              <div class="price">R$ 400,00</div>
              <div class="ticket-category">ESTUDANTE/IDOSO</div>
            </div>
          </div>

          <div class="benefits">
            Welcome kit, curso online Basis Plena, descontos na Basis Plena, brindes especiais.
          </div>

          <div class="transfers">
            Os ingressos de pré-venda não são reembolsáveis, apenas passíveis de transferência de titularidade. Confira as condições de reembolso e transferência <strong><a href="/politica-de-reembolso">clicando aqui</a></strong>.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block pre-venda-button">ADQUIRA JÁ SEU INGRESSO</a>
      </div>
    </div>

    <div class="ticket-row">
      <div class="row">
        <div class="col-md-2 col-12 col-sm-12 offset-md-2">
          <div class="ticket-category">
            Estudante<br>e idoso*
          </div>
        </div>

        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">Gold 2</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 500,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">VIP 1</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
              <li class="benefit">Livro <strong>Gordura sem medo</strong></li>
              <li class="benefit">Assentos exclusivos</strong></li>
              <li class="benefit">Espaço VIP Facilities</strong></li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 700,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div class="disclaimer">
            * Obrigatória a apresentação da carteirinha na compra e entrada do evento.
          </div>
        </div>
      </div>

      <div class="row tickets">
        <div class="col-md-2 col-12 col-sm-12 offset-md-2">
          <div class="ticket-category">
            GOLD 2
          </div>
        </div>
        
        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">1º Lote</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 650,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">2º Lote</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 780,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row tickets">
        <div class="col-md-2 col-12 col-sm-12 offset-md-2">
          <div class="ticket-category">
            VIP 1
          </div>
        </div>
        
        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">1º Lote</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
              <li class="benefit">Livro <strong>Gordura sem medo</strong></li>
              <li class="benefit">Assentos exclusivos</strong></li>
              <li class="benefit">Espaço VIP Facilities</strong></li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 900,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">2º Lote</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
              <li class="benefit">Livro <strong>Gordura sem medo</strong></li>
              <li class="benefit">Assentos exclusivos</strong></li>
              <li class="benefit">Espaço VIP Facilities</strong></li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 1.100,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row tickets">
        <div class="col-md-2 col-12 col-sm-12 offset-md-2">
          <div class="ticket-category">
            <div class="d-md-block d-none">
              VIP 2 <br>+<br>JANTAR<br>PRÉ-EVENTO
            </div>

            <div class="d-block d-md-none">
              VIP 2 + JANTAR PRÉ-EVENTO
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">1º Lote</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
              <li class="benefit">Livro <strong>Gordura sem medo</strong></li>
              <li class="benefit">Assentos exclusivos</strong></li>
              <li class="benefit">Espaço VIP Facilities</strong></li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 1.400,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column">
            <div>
              <div class="name">2º Lote</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Welcome kit</li>
              <li class="benefit">Curso online Basis Plena</li>
              <li class="benefit">Descontos na Basis Plena</li>
              <li class="benefit">Brindes especiais</li>
              <li class="benefit">Livro <strong>Gordura sem medo</strong></li>
              <li class="benefit">Assentos exclusivos</strong></li>
              <li class="benefit">Espaço VIP Facilities</strong></li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 1.600,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row tickets">
        <div class="col-md-2 col-12 col-sm-12 offset-md-2">
          <div class="ticket-category -pre-event">
            PRÉ-EVENTO
          </div>
        </div>
        
        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column -pre-event">
            <div>
              <div class="name">Jantar Avulso</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Jantar pré-evento</li>
            </ul>

            <div class="price">
              <div class="value" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso">R$ 650,00 + Taxa &nbsp;<%= fa_icon 'question-circle' %></div>
              <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank" class="btn btn-danger d-block">COMPRAR</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row tickets">
        <div class="col-md-2 col-12 col-sm-12 offset-md-2">
          <div class="ticket-category -pre-event">
            <div class="d-md-block d-none">
              UPGRADE DE<br>CATEGORIA
            </div>

            <div class="d-block d-md-none">
              UPGRADE DE CATEGORIA
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-12 col-sm-12">
          <div class="ticket d-flex flex-column -pre-event">
            <div>
              <div class="name">UPGRADE</div>
              <div class="bar"></div>
            </div>

            <ul class="benefits">
              <li class="benefit">Faça upgrade do GOLD 1 para outras categorias</li>
            </ul>

            <div class="price">
              <div class="value">VÁRIOS VALORES</div>
              <a href="/upgrade" class="btn btn-danger d-block">SOLICITAR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>