<div class="speaker-page">
  <div class="d-none d-md-block">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-6 name-wrapper">
            <div class="name"><%= @speaker.name %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-md-none">
    <div class="header">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 photo-wrapper">
        <%= image_tag @speaker.image, class: 'photo' %>

        <div class="name d-block d-md-none"><%= @speaker.name %></div>
      </div>

      <div class="col-md-6 about">
        <div class="function">
          <%= @speaker.function %>
        </div>

        <%= @speaker.about.html_safe %>

        <div class="social d-flex">
          <% if @speaker.instagram %>
            <div class="media d-flex align-items-center">
              <%= image_tag 'instagram@2x.png' %>
              <strong><%= link_to @speaker.instagram, "http://instagram.com/#{@speaker.instagram}", target: '_blank', class: 'link' %></strong>
            </div>
          <% end %>
          
          <% if @speaker.twitter %>
            <div class="media d-flex align-items-center">
              <%= image_tag 'twitter@2x.png' %>
              <strong><%= link_to @speaker.twitter, "http://twitter.com/#{@speaker.twitter}", target: '_blank', class: 'link' %></strong>
            </div>
          <% end %>

          <% if @speaker.site %>
            <div class="media d-flex align-items-center">
              <%= image_tag 'site@2x.png' %>
              <strong><%= link_to @speaker.site, "http://#{@speaker.site}", target: '_blank', class: 'link' %></strong>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
