<!DOCTYPE html>
<html>
  <head>
    <title>Administração - EVENTO ALIMENTE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>
  <body>  
    <%= render 'layouts/admin/navbar' %>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
