<!DOCTYPE html>
<html>
  <head>
    <title>EVENTO ALIMENTE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
